<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Add Login</title>
  <style>
    #suggestions {
      border: 1px solid #ccc;
      max-height: 150px;
      overflow-y: auto;
      position: absolute;
      background: white;
      width: 100%;
    }
    .suggestion {
      padding: 5px;
      cursor: pointer;
    }
    .suggestion:hover {
      background: #eee;
    }
  </style>
</head>
<body>
  <h1>Add Login</h1>
  <form action="/add_login" method="POST">
    <label for="volunteer_email">Volunteer Email:</label>
    <input
        type="text"
        id="volunteer_email"
        name="volunteer_email"
        value="<%= volunteerEmail || '' %>"
        readonly
        >
    <label for="role">Role:</label>
    <form action="/login/<%= login.volunteer_email %>" method="POST">
        <select id="role_id" name="role_id">
          <% role.forEach(row => { %>
            <option 
              value="<%= row.role_id %>" 
              <%= parseInt(login.role_id, 10) === parseInt(row.role_id, 10) ? 'selected' : '' %>>
              <%= row.position_title %>
            </option>
          <% }) %>
        </select>
        <button type="submit">Save</button>
      </form>   
    <br>
    <label for="user_password">Password:</label>
    <button type="submit">Add Login</button>
  </form>
</body>
</html>
